body {
  background-color: #0080C0; margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFF;
	font-weight: normal;
}

ul { padding: 0; margin: 0; list-style: none; margin-bottom: 0.5em; font-weight: bold; }
li { margin-left: 1em; line-height: 1.5em; }

a { text-decoration: none; font-weight: bold; color: #FFFFCC }
a:hover { text-decoration: underline; }
h3 { font-size: 11px; 	font-weight: bold; }
p, h3 { line-height: 1.5em; margin: 0 0 0.5em 0; }

.date {
  font-size: 10px; color: #80D6FF; 	font-weight: bold;
}

.bold {
	font-weight: bold;
}
.copymedium {
	font-size: 13px;
}
.copylargebold {
	font-size: 16px;
	font-weight: bold;
}
.copylarge {
	font-size: 16px;
}
.copymediumbold {
	font-size: 13px;
	font-weight: bold;
}
.recipecomment {
	font-size: 14px;
	font-style: normal;
	background-position: center center;
}
